<div class="queTitleclass">
  <h3 ><a href="" class= "glyphicon glyphicon-user black" ></a>
    <%= @question["title"] %> </h3>
  <div class="queDescriptionclass">
    <p> <%= @question["description"] %> </p>
  </div>
  <div class="buttonTabs">
    <%= link_to "Comment", question_comment_button_path(@question["id"]),class: "fa fa-tag fa-lg black",
                method: :get, remote:true, id: 'commentButton' %>
    <%= link_to "Answers", question_answer_button_path(@question["id"]),class: "fa fa-comment fa-lg black",
                method: :get, remote:true, id: 'answerButton' %>
    <span id ="like_dislike_space"> <%= render 'layouts/votes' %> </span>

  </div>

  <p  id="answer_comment_space"></p>

</div>

<%= javascript_include_tag('pageSpecific/questions/index_question') %>
