

<p id="answer_space">
  <% @answers.each do |answer| %>
  <p><%= answer["description"] %></p>
  <% end %>
</p>

<%#= js_will_paginate @answers%>


<%= form_with url: answer_create_path( params[:question_id] ) do |f| %>

  <div class="form-group">

    <%= f.label :description, "Answer:" %>
    <%= f.text_area(:description, class: 'form-control', id: :description) %>

  </div>

  <%= f.submit "Add Answer" , class: 'btn-primary' %>

<% end %>
