<p id="comment_space">
  <% @comments.each do |comment| %>
  <p><%= comment["description"] %></p>
<% end %>
</p>

<%#= js_will_paginate @answers%>


<%= form_with url: comment_create_path( "Question",params[:commentable_id] ) do |f| %>

  <div class="form-group">

    <%= f.label :description, "Comment:" %>
    <%= f.text_area(:description, class: 'form-control', id: :description) %>

  </div>

  <%= f.submit "Add Comment" , class: 'btn-primary' %>

<% end %>
