<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>
        <%= link_to  question_new_path do%>
          Ask Question
        <% end %>
      </li>


      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <% if loggedIn? %>

        <li>
          <%= link_to  logout_path do%>
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          <% end %>
        </li>
        <li>
          <%= link_to  edit_path( cookies.signed[:id] ) do%>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to  signup_path do%>
            <span class="glyphicon glyphicon-user"></span>
            Sign Up
          <% end %>
        </li>


        <li>
          <%= link_to  login_path do%>
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          <% end %>
        </li>
      <% end %>

<!--      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
<!--      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
    </ul>
  </div>
</nav>